global
    log stdout format raw local0
    maxconn 4096
    tune.ssl.default-dh-param 2048

defaults
    log     global
    mode    tcp
    option  tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m

# ======== STATS PAGE (HTTP) ========
listen stats
    bind *:81
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
    stats auth admin:admin123  # opcional, mas recomendado

# ======== PROXY PARA KAFKA (TCP) ========
frontend kafka_front
    bind *:9092
    mode tcp
    default_backend kafka_back

backend kafka_back
    mode tcp
    option tcp-check
    server kafka kafka:9092 check
